.product-section {
    margin: 15px;
    /* border: 1px solid black; */
    text-align: center;
    height: 600px;
    padding: 10px;
}

.product-section:hover {
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.82);
    -webkit-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.82);
}

.product-info {
    margin-left: 15px;
}

.addToCartBtn {
    background-color: black;
    color: white;
    padding: 5px 20px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
}

.addToCartBtn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}